@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mulish:wght@200;500&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;700&family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100vw;
  background: #c56195;
  background: -webkit-linear-gradient(top left, #c56195, #187025);
  background: -moz-linear-gradient(top left, #c56195, #187025);
  background: linear-gradient(to bottom right, #c56195, #187025);
  font-family: 'Dongle', 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.main-content {
  padding-top: 20px;
  padding-bottom: 60px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.show-line-number {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 300;
}

.controls {
  width: 75%;
  margin: 20px auto;
  text-align: center;
}

.two-controls {
  display: flex;
  justify-content: space-between;
}

.code-elem-control {
  margin-top: 20px;
  border: 3px solid black;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

.code-elements {
  display: flex;
}

.code-elements input {
  margin-top: 10px;
  margin-left: 10px;
}

.snippets select {
  padding: 5px 8px;
  background-color: transparent;
  border-color: #eee;
  border-radius: 5px;
}

.customs {
  margin-top: 10px;
  font-size: 1.5rem;
}

.customs input {
  margin-left: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  outline: none;
  border: 0;
}

.format {
  margin-left: 30px;
}

.formatter {
  margin-left: 25px;
}
